*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#main-container{
    height: 100vh;
    margin-left: 284px;
    margin-top: 2rem;
    
}
#header{
    padding:12px;
    width: 1024px;
    height:10.2vh;
    border: 2px solid pink;
    text-align: center;
    color: green;
    text-decoration: underline;
}
#first-one{
    float:center ;
    text-align: center;
    width: 61.5%;
    height: 495.5px;
    border: 2px solid blue;
    color: green;
    text-decoration: underline;
}
#first-one>h1{
    text-align: center;
    padding: 0%;
    margin-top:31%;
}
aside{
    float:left;
    color: green;
    text-decoration: underline;
    width: 19.7vw;
    height: 66.2%;
    margin-top: 0.23%;
    border: 2px solid purple;
    text-align: center;
    
}
aside h1{
margin-top: 80%;
}

footer{
    width: 1024px;
    height: 12vh;
    border: 2px solid green;
    margin-top: -11.94%;
    margin-left:17.72rem;
}
footer h1{
text-align:center;
color: green;
text-decoration: underline;
}
